@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background-color: #eee;
}

.galeria {
  position: relative;
  width: auto;
  display: block;
}

img {
  width: auto;
  height: 300px;
  border-radius: 10px;
}

input {
  display: none;
}

input:checked + label > img {
  transform: scale(1.5);
  transition: 0.5s ease;
}

/* 
img:hover{
    transform: scale(1.5);
    transition: 0.5s ease;
} */
